<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="jfinaloaEntities" connectionString="metadata=res://*/JFinalOAModel.csdl|res://*/JFinalOAModel.ssdl|res://*/JFinalOAModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=xiaodeng;user id=root;password=984990;persistsecurityinfo=True;database=jfinaloa&quot;" providerName="System.Data.EntityClient" />
    <add name="JFinalOAModelContainer" connectionString="metadata=res://*/JFinalOAModel.csdl|res://*/JFinalOAModel.ssdl|res://*/JFinalOAModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=xiaodeng;user id=root;password=984990;persistsecurityinfo=True;database=jfinaloa&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>